In [3]:
import pandas as pd
import numpy as np

p = [(11,4),(58,5),(76,3),(119,4),(150,),(161,3),(168,4),(178,4)]
df = pd.DataFrame(p, columns=["Roll", "Score"])
print(df)


print(df)

   Roll  Score
0    11    4.0
1    58    5.0
2    76    3.0
3   119    4.0
4   150    NaN
5   161    3.0
6   168    4.0
7   178    4.0
   Roll  Score
0    11    4.0
1    58    5.0
2    76    3.0
3   119    4.0
4   150    NaN
5   161    3.0
6   168    4.0
7   178    4.0

In [4]:
df.to_csv("pandas.csv", index=False)

In [5]:
print(df.head(7))

   Roll  Score
0    11    4.0
1    58    5.0
2    76    3.0
3   119    4.0
4   150    NaN
5   161    3.0
6   168    4.0

In [6]:
print(df.tail(3))

   Roll  Score
5   161    3.0
6   168    4.0
7   178    4.0

In [7]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Roll    8 non-null      int64
 1   Score   7 non-null      float64
dtypes: float64(1), int64(1)
memory usage: 260.0 bytes
None

In [8]:
print(df.describe())

             Roll     Score
count    8.000000  7.000000
mean   115.125000  3.857143
std     60.616918  0.690066
min     11.000000  3.000000
25%     71.500000  3.500000
50%    134.500000  4.000000
75%    162.750000  4.000000
max    178.000000  5.000000

In [9]:
x = df.iloc[:, 0:2].values
print(x)

[[ 11.   4.]
 [ 58.   5.]
 [ 76.   3.]
 [119.   4.]
 [150.  nan]
 [161.   3.]
 [168.   4.]
 [178.   4.]]

In [10]:
x = df[["Roll", "Score"]]
print(x)

   Roll  Score
0    11    4.0
1    58    5.0
2    76    3.0
3   119    4.0
4   150    NaN
5   161    3.0
6   168    4.0
7   178    4.0

In [11]:
print(df.shape)
print(df.size)

(8, 2)
16

**Indexing**

In [12]:
df.index = [2, 3, 4, 5, 6, 7, 8, 9]
print(df)

   Roll  Score
2    11    4.0
3    58    5.0
4    76    3.0
5   119    4.0
6   150    NaN
7   161    3.0
8   168    4.0
9   178    4.0

In [13]:
print(df.loc[2])  # user def index
print(df.iloc[1])  # positional

Roll     11.0
Score     4.0
Name: 2, dtype: float64
Roll     58.0
Score     5.0
Name: 3, dtype: float64

**Filtering**

In [14]:
print(df[df["Score"] > 3])

   Roll  Score
2    11    4.0
3    58    5.0
5   119    4.0
8   168    4.0
9   178    4.0

In [15]:
df["Percentage"] = range(len(df))

In [16]:
df["Percentage"] = df["Score"] * 100 / 20

In [17]:
print(df)

   Roll  Score  Percentage
2    11    4.0        20.0
3    58    5.0        25.0
4    76    3.0        15.0
5   119    4.0        20.0
6   150    NaN         NaN
7   161    3.0        15.0
8   168    4.0        20.0
9   178    4.0        20.0

In [18]:
df.drop(columns=["Percentage"])

   Roll  Score
2    11    4.0
3    58    5.0
4    76    3.0
5   119    4.0
6   150    NaN
7   161    3.0
8   168    4.0
9   178    4.0

In [19]:
del df["Percentage"]

In [20]:
print(df)

   Roll  Score
2    11    4.0
3    58    5.0
4    76    3.0
5   119    4.0
6   150    NaN
7   161    3.0
8   168    4.0
9   178    4.0

In [21]:
df.insert(2, "Percentage", df["Score"] * 100 / 20)
print(df)

   Roll  Score  Percentage
2    11    4.0        20.0
3    58    5.0        25.0
4    76    3.0        15.0
5   119    4.0        20.0
6   150    NaN         NaN
7   161    3.0        15.0
8   168    4.0        20.0
9   178    4.0        20.0

In [22]:
# print(df.isnull())
# print(df.notnull())
fill_0 =  df.fillna(0)
print(fill_0)
fill_pad = df.fillna(method="pad") #adds prev value
print(fill_pad)
fill_bfill = df.fillna(method="bfill") # adds below value
print(fill_bfill)

   Roll  Score  Percentage
2    11    4.0        20.0
3    58    5.0        25.0
4    76    3.0        15.0
5   119    4.0        20.0
6   150    0.0         0.0
7   161    3.0        15.0
8   168    4.0        20.0
9   178    4.0        20.0
   Roll  Score  Percentage
2    11    4.0        20.0
3    58    5.0        25.0
4    76    3.0        15.0
5   119    4.0        20.0
6   150    4.0        20.0
7   161    3.0        15.0
8   168    4.0        20.0
9   178    4.0        20.0
   Roll  Score  Percentage
2    11    4.0        20.0
3    58    5.0        25.0
4    76    3.0        15.0
5   119    4.0        20.0
6   150    3.0        15.0
7   161    3.0        15.0
8   168    4.0        20.0
9   178    4.0        20.0

C:\Users\KIIT\AppData\Local\Temp\ipykernel_22020\2057408508.py:5: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  fill_pad = df.fillna(method="pad") #adds prev value
C:\Users\KIIT\AppData\Local\Temp\ipykernel_22020\2057408508.py:7: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  fill_bfill = df.fillna(method="bfill") # adds below value